@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO: customize colors */
@layer base {
  :root {
    --background: 37 45% 93%;
    --foreground: 240 10% 3.9%;
 
    --muted: 37 45% 97.9%;
    --muted-foreground: 37 3.8% 46.1%;
 
    --popover: 37 55% 97%;
    --popover-foreground: 37 10% 3.9%;
 
    --card: 37 55% 97%;
    --card-foreground: 37 10% 3.9%;
 
    --border: 37 5.9% 90%;
    --input: 37 5.9% 90%;
 
    --primary: 37 5.9% 40%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 37 45% 99.9%;
    --secondary-foreground: 37 5.9% 10%;
 
    --accent: 37 45% 95.9%;
    --accent-foreground: 37 5.9% 10%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 37 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 190 50% 5.9%;
    --foreground: 0 0% 98%;
 
    --muted: 190 35% 15.9%;
    --muted-foreground: 190 5% 64.9%;
 
    --popover: 190 50% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 190 50% 10.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 190 35% 15.9%;
    --input: 190 35% 15.9%;
 
    --primary: 190 0% 90%;
    --primary-foreground: 190 5.9% 10%;
 
    --secondary: 190 35% 10.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 190 35% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 190 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}